## Grunt intermediate storage
.grunt

## Dependency directory (npm)
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

**/*.DS_Store

# VScode
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# GitHub Pages deployment folder
_gh-pages
