.logo {
    padding-top: 0.5em;
    width: 120px;
}

.topnav {
    background-color: #fafafa;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.topnav a {
    text-align: center;
    display: inline-block;
    color: #333333;
    padding-left: 1.5em;
}

@media screen and (max-width: 1000px) {
    .topnav {
        display: grid;
    }
    .topnav a {
        padding-left: 0em;
        padding-bottom: 0.3em;
    }
    .logobox {
        padding-top: 0.3em;
    }
}

@media screen and (max-width: 300px) {
    .topnav {
        display: none;
    }
}